!!!
%html.no-js{lang: 'ru-RU'}
  %head
    %title Продом
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
    :css
      .demo{margin-left:6rem}.demo li:not(:last-child){margin-bottom:1rem}.demo ol{counter-reset:list}.demo ol li{position:relative}.demo ol li::before{counter-increment:list;content:counter(list)'.';position:absolute;top:0;right:100%;margin-right:.5rem;color:#ccc}
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render

    %main#main.main{role: 'main'}
      %section{role: 'region', aria: {label: 'Demo'}}
        .pt-8.pb-8
          .ctn
            %article
              %header.mb-4
                %h1
                  %a{href: 'index.html'} Продом

              %nav.demo
                %ol
                  %li
                    %a.tx-muted{href: 'index.html'} Главная
                  %li
                    %a.tx-voice{href: 'catalog.html'} Предложения
                  %li
                    %a.tx-muted{href: 'catalog_show.html'} Предложение
                  %li
                    %a.tx-voice{href: 'favorites.html'} Избранное
                  %li
                    %a.tx-voice{href: 'search_params.html'} Поиск - параметры
                  %li
                    %a.tx-voice{href: 'search_catalog.html'} Поиск - предложения
                  %li
                    %a.tx-voice{href: 'search_news.html'} Поиск - новости
                  %li
                    %a.tx-voice{href: 'search_services.html'} Поиск - услуги
                  %li
                    %a.tx-voice{href: 'news.html'} Новости
                  %li
                    %a.tx-muted{href: 'news_show.html'} Новость
                  %li
                    %a.tx-voice{href: 'about.html'} О компании
                  %li
                    %a.tx-voice{href: 'services.html'} Услуги
                  %li
                    %a.tx-muted{href: 'contacts.html'} Контакты
                  %li
                    %a.tx-muted{href: '404.html'} 404