!!!
%html.no-js{lang: 'ru-RU'}
  %head
    %title Продом
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    
    %main#main.main{role: 'main'}
      %section{role: 'region', aria: {label: 'Icons'}}
        .ctn