%footer#footer.footer{role: 'contentinfo'}
  .ctn
    .footer_inner
      .grid
        .grid_i.grid_i__middle.grid_i__desktop-grid-2-12>
          %p.footer_copy &copy;&nbsp;2014 &laquo;ПроДом&raquo;
        .grid_i.grid_i__middle.grid_i__desktop-grid-10-12>
          .tx-right
            %ul.footer_nav
              %li.footer_item>
                %a.footer_link{href: '#'} Карта сайта
              %li.footer_item
                %a.footer_link{href: '#'} Обратный звонок
            %span.footer_phone> +7 (499) 705 70 08
            %a{href: '#'}
              %img.footer_logo{src: 'assets/images/db.png', width: 20, height: 12}