%header#header.header{role: 'banner'}
  .cf
    .f-l
      %span.search-toggle>
      %a.header-action{href: '#'} очистить избранное
    .f-r
      .callback
        %span.callback_label> Обратный звонок
        %span.callback_phone +7 (499) 705 70 08
    .f-r
      %span.like-toggle