%header#header.header{role: 'banner'}
  .cf
    .f-l
      .search-toggle>
      %a.clean-favorites{href: '#'} очистить избранное
    .f-r
      .callback
        .callback_label> Обратный звонок
        .callback_phone +7 (499) 705 70 08
    .f-r
      .like-toggle