%aside#sidebar.sidebar
  
  %a.logo{href: 'index.html'}
    %img.logo_img{src: 'assets/images/logo.svg', width: 86, height: 82, alt: 'Продом'}
    %p.logo_tx Агентство недвижимости

  %nav.main-nav{role: 'navigation'}
    %a.main-nav_i.main-nav_i__current{href: '#'} Загородная
    %a.main-nav_i{href: '#'} Городская
    %a.main-nav_i{href: '#'} Коммерческая
    
  %nav.sub-nav
    %a.sub-nav_i.sub-nav_i__current{href: '#'} Новости
    %a.sub-nav_i{href: '#'} О компании
    %a.sub-nav_i{href: '#'} Контакты

  %a.request{href: '#'} Оставить заявку