%article.item
  %div.item_gallery.js-item-gallery
    - 1.upto(5) do
      %a{href: 'catalog_show.html'}
        %img.item_photo{src: 'assets/images/item_1.jpg', width: '100%', alt: ''}
      %a{href: 'catalog_show.html'}
        %img.item_photo{src: 'assets/images/item_2.jpg', width: '100%', alt: ''}
  %header.item_header
    %a.item_title{href: 'catalog_show.html'}
      Дворянское Гнездо, Большой Левшинский переулок, 11
  %div.item_body
    .grid
      .grid_i.grid_i__desktop-grid-1-3.grid_i__tablet-grid-1-3.grid_i__phone-grid-1-1>
        %div.item_price.format-money.format-money__rub 31000000
        %ul.item_summary
          %li.item_summary_i 8 этаж
          %li.item_summary_i Площадь 75 м2
          %li.item_summary_i Номер лота 11
      .grid_i.grid_i__desktop-grid-2-3.grid_i__tablet-grid-2-3.grid_i__phone-grid-1-1>
        %div.tags.tags__main
          %a.tags_i{href: '#', style: 'border-color: #a8da9b;'}> Новое
          %a.tags_i{href: '#', style: 'border-color: #daba9b;'}> Жилая недвижимость
          %a.tags_i{href: '#', style: 'border-color: #9bd3da;'} Аренда
        %div.tags
          %a.tags_i{href: '#'}> Рядом школа
          %a.tags_i{href: '#'}> Бассеин
          %a.tags_i{href: '#'}> Лесопарковая зона
          %a.tags_i{href: '#'} Минское шоссе