%article.news-item
  %header.news-item_header
    %p.mb-1
      %a{href: 'news_show.html'} Новая техника для земляных работ: производительная, экономичная, &laquo;зеленая&raquo;
      %i.tx-muted 14 сентября 2014
    %p.news-item_source
      %a{href: '#'}
        %span> Lenta.ru
        %img{src: 'assets/images/news_source.png', width: 16, height: 16, alt: 'Lenta.ru'}
  .news-item_body
    %img.news-item_author{src: 'assets/images/news_author_1.jpg', width: 43, height: 43, alt: 'Александр Звягинцев'}
    %p.tx-muted.mb-1 Александр Звягинцев
    %p.mb-1 На&nbsp;мой взгляд, датамайнинг или умный анализ данных будет играть роль &laquo;колеса&raquo; в&nbsp;развитии человечества. Он&nbsp;позволит делать...
    %p
      %a{href: '#'} Подробнее