//****************************************************************************************************
//
// .. FONTS
//
//****************************************************************************************************
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);

$font-opensans: 'Open Sans', sans-serif; 
$font-ptserif: 'PT Serif', serif;
$font-playfair: 'PT Serif', serif;



//****************************************************************************************************
//
// .. GRID
//
//****************************************************************************************************
$grid: responsive; // .. fixed / fluid / responsive
$grid-width-transition: false; // .. true / false

//
// .. Fixed
//
$grid-fixed-col-qty:    12;
$grid-fixed-col-width:  60px;
$grid-fixed-col-gutter: 20px;
$grid-fixed-col-indent: 20px;

//
// .. Fluid
//
$grid-fluid-col-qty:    12;
$grid-fluid-col-gutter: 2%;
$grid-fluid-col-indent: 2rem; // .. rem / px

//
// .. Responsive
//
$grid-responsive-col-qty:    12;
$grid-responsive-col-gutter: 2%;
$grid-responsive-col-indent: 2rem; // .. rem / px



//****************************************************************************************************
//
// .. CONTAINER
// .. phone / tablet / desktop
//
//****************************************************************************************************
$ctn-padding: 40px; // .. px

//
// .. Fixed
//
$ctn-fixed-width: ($grid-fixed-col-width + $grid-fixed-col-gutter) * $grid-fixed-col-qty - $grid-fixed-col-gutter;

//
// .. Fluid
//
$ctn-fluid-min-width: 940px;
$ctn-fluid-max-width: 1180px;

//
// .. Responsive
//
$ctn-responsive-min-width-list: (320px, 640px, 940px);   
$ctn-responsive-max-width-list: (639px, 939px, 1180px);



//****************************************************************************************************
//
// .. STYLES
// .. phone / tablet / desktop
//
//****************************************************************************************************
//
// .. Html
//
$root-font-size-list: (62.5%, 62.5%, 62.5%);

//
// .. Body
//
$base-bg: #fff;
$base-color: #1a1a1a;
$base-font-family: $font-ptserif;
$base-font-size-list: (1.8rem, 1.8rem, 1.8rem);
$base-font-weight: 400;
$base-line-height-list: (2.5rem, 2.5rem, 2.5rem);

//
// .. Headings
//
$h-font-family: $font-opensans;

$h1-font-size-list: (2.6rem, 2.6rem, 2.6rem);
$h2-font-size-list: (3rem, 3rem, 3rem);
$h3-font-size-list: (2.5rem, 2.5rem, 2.5rem);
$h4-font-size-list: (2rem, 2rem, 2rem);
$h5-font-size-list: (inherit, inherit, inherit);
$h6-font-size-list: (inherit, inherit, inherit);

$h1-font-weight-list: (700, 700, 700);
$h2-font-weight-list: (600, 600, 600);
$h3-font-weight-list: (600, 600, 600);
$h4-font-weight-list: (600, 600, 600);
$h5-font-weight-list: (600, 600, 600);
$h6-font-weight-list: (inherit, inherit, inherit);

$h1-line-height-list: (3.0rem, 3.0rem, 3.0rem);
$h2-line-height-list: (3.2rem, 3.2rem, 3.2rem);
$h3-line-height-list: (2.8rem, 2.8rem, 2.8rem);
$h4-line-height-list: (2.4rem, 2.4rem, 2.4rem);
$h5-line-height-list: (inherit, inherit, inherit);
$h6-line-height-list: (inherit, inherit, inherit);

//
// .. Colors
//
$major-color: #333;
$minor-color: #eee;
$voice-color: #000;
$muted-color: #999;

//
// .. Focus
//
$focus-style: false; // .. true / false

//
// .. Links
//
$link-color: #a99a7e;
$link-color-hover: #a99a7e;
$link-color-active: #a99a7e;
$link-style: nn;        // .. nn / uu / un / nu
$link-style-pseudo: uu; // .. uu / un

//
// .. Content
//
$content-factor: 2;
$content-link-style: false; // .. true / false
$content-link-color: #36c;
$content-link-color-hover: #ccc;
$content-link-color-active: darken($content-link-color-hover, 10%);

//
// .. Text
//
$tx-xxs-font-size:   70%;
$tx-xxs-line-height: 160%;

$tx-xs-font-size:    80%;
$tx-xs-line-height:  160%;

$tx-s-font-size:     90%;
$tx-s-line-height:   160%;

$tx-l-font-size:     110%;
$tx-l-line-height:   160%;

$tx-xl-font-size:    120%;
$tx-xl-line-height:  160%;

$tx-xxl-font-size:   130%;
$tx-xxl-line-height: 160%;

//
// .. Rub
//
$rub: true; // .. true / false
$rub-font: arial; // .. all / arial / georgia / tahoma / times / verdana