button, input, select, textarea {
  -webkit-border-radius: 0;
     -webkit-appearance: none;
}

button, input {
  &::moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

input {
  &::-ms-clear {display: none;}
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
.form_el {
  &[disabled] {
    background-color: #eee;
    opacity: .5;
  }
  &[data-valid="true"] {
    color: green;
    &:not(.form_btn) {
      background-color: fade-out(green, .9);
      border-color: fade-out(green, .3);
    }
    &.form_btn {
      border-color: fade-out(green, .45);
      @include linear-gradient(vertical, fade-out(green, .9), fade-out(green, .6));
      &:active {@include linear-gradient(vertical, fade-out(green, .6), fade-out(green, .9));}
    }
    &.form_checkbox,
    &.form_radio {
      &::after {background-color: fade-out(green, .3);}
    }
    &.form_file,
    &.form_select {
      &::after {color: fade-out(green, .3);}
    }
  }
  &[data-valid="false"] {
    color: red;
    &:not(.form_btn) {
      background-color: fade-out(red, .9);
      border-color: fade-out(red, .3);
    }
    &.form_btn {
      border-color: fade-out(red, .45);
      @include linear-gradient(vertical, fade-out(red, .9), fade-out(red, .6));
      &:active {@include linear-gradient(vertical, fade-out(red, .6), fade-out(red, .9));}
    }
    &.form_checkbox,
    &.form_radio {
      &::after {background-color: fade-out(red, .3);}
    }
    &.form_file,
    &.form_select {
      &::after {color: fade-out(red, .3);}
    }
  }
  &:not(.form_label) {
    &:not([disabled]):hover {box-shadow: inset 0 0 .1rem .1rem rgba(0,0,0,.1);}
  }
}
  @if $focus-style == true {
    .form_el__focus {@extend %focus-style;}
  }
  .form_el_tag[disabled] {cursor: no-drop;}

//
// .. Label
//
.form_label__el {
  cursor: pointer;
  > .form_label_inner {margin-left: 2.4rem;}
}

//
// .. Legend
//
.form_legend {@extend %delta;}

//
// .. Button
//
.form_btn {
  padding: 0 1.5rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  cursor: pointer; 
  text-align: center;
  @include linear-gradient(vertical, #eee, #ddd);
  &:not([disabled]):active {@include linear-gradient(vertical, #ddd, #eee);}
}
  .form_btn_inner {line-height: 2.8rem;}

//
// .. Text
//
.form_tx {
  padding: 0 .75rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background-color: #fff;
}

//
// .. Textarea
//
.form_textarea {
  padding: .5rem .75rem;
  height: 9.2rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background-color: #fff;
}

//
// .. Checkbox
//
.form_checkbox {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background-color: #fff;
  cursor: pointer;
  &[data-checked="true"]::after {
    width: .6rem;
    height: .6rem;
    background-color: #666;
    border-radius: .1rem;
    content: "";
  }
}

//
// .. Radio
//
.form_radio {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  &[data-checked="true"]::after {
    width: .6rem;
    height: .6rem;
    background-color: #666;
    border-radius: 50%;
    content: "";
  }
}

//
// .. File
//
.form_file {
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background-color: #fff;
  cursor: pointer;
  &[disabled] {cursor: no-drop;}
  &::after {
    right: .6rem;
    color: #ccc;
    content: "\f07c";
    font-family: FontAwesome;
  }
}
  .form_file_inner {
    margin: 0 2.8rem 0 .75rem;
    line-height: 2.8rem;
  }

//
// .. Select
//
.form_select {
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background-color: #fff;
  cursor: pointer;
  &::after {
    right: 1rem;
    color: #ccc;
    content: "\f0d7";
    font-family: FontAwesome;
  }
}
  .form_select_inner {
    margin: 0 2.8rem 0 .75rem;
    line-height: 2.8rem;
  }