.dialog.dialog__form
  %h4.dialog_title Обратный звонок
  %form.form
    .form_row
      %lable.form_label Как вас зовут?
      %input.form_text{type: "text"}
    .form_row
      %lable.form_label Ваш телефон
      %input.form_text{type: "text"}
    .form_row.form_row__submit
      %input.form_btn{type: "submit"}