.dialog.dialog__message
  .dialog_header
    %p.dialog_text На электронный ящик
    %h4 mailkonstantin@mail.ru
    %p.dialog_text отправлено письмо с инструкциями
  %form.form
    .form_row
      %input.form_btn{type: "submit", value: "Ок"}