.dialog.dialog__center
    .pt-10.pb-3
        %h4.mb-10 Подписка активирована
        %form.form.js-form
            .form_el.js-form_el.form_btn
                %p.form_el_inner.form_btn_inner Button
                %button.form_el_tag.form_btn_tag{type: 'button'}