.dialog {
  @include prefixes(box-sizing, border-box);
  width: 43rem;
  border-radius: .1rem;
  background-color: #fff;

  &__form {  
    padding: 3rem 4rem 5rem;
  }

  &__message {
    padding: 9rem 4rem 3rem;
    text-align: center;
  }

  &_header {
    text-align: center;

    .dialog__form & {
      margin-bottom: 3rem;
    }

    .dialog__message & {
      margin-bottom: 10rem; 
    }
  }

  &_text {
    font-family: $font-opensans;
    font-size: 1.4rem;
    color: $voice-color;
  }
}