@if $grid == "responsive" {
  @include mq(phone)  {body {padding-top: 0 !important;}}
  @include mq(tablet) {body {padding-top: 0 !important;}}
}



//****************************************************************************************************
//
// .. PAGE
//
//****************************************************************************************************
.page {  
  &__bg {
    background-color: #f0efed; 
  }
}

.page-title {
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 1.8pt;
  text-transform: uppercase;
  color: #818181;
  
  &__l {
    font-size: 1.4rem;
  }
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  line-height: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 21rem;
  height: 4rem;
  background-color: #4d4d4d;
  
  @include mq(phone) {
    display: none;    
  }

  @include mq(tablet) {
    display: none;
  }

  @include mq(desktop) {

  }  

  &__sticky {
    .no-touch & {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
      background-color: $base-bg;
      box-shadow: .1em .1em .3em rgba(0,0,0,.25);
    }
  }
}

  //
  // .. Search toggle
  //
  .search-toggle {
    @extend %ico;
    @extend %ico__16;
    @extend %ico__search;
    line-height: inherit;
    display: inline-block;
    width: 5rem;
    height: inherit;
    cursor: pointer;
    text-align: center;
    color: #737373;
    background-color: #454545;
  }

  //
  // .. Like toggle
  //
  .like-toggle {
    @extend %ico;
    @extend %ico__16;
    @extend %ico__star;
    line-height: inherit;
    display: block;
    width: 5rem;
    height: inherit;
    cursor: pointer;
    text-align: center;
    color: #737373;
  }

  //
  // .. Callback
  //
  .callback {
    font-family: $font-opensans;
    font-weight: 600;
    line-height: 3.4rem;
    height: 4rem;
    padding: 0 2.5rem;
    background-color: #454545;

    &_label {
      font-size: 1rem;
      display: inline-block;
      margin-right: 3rem;
      letter-spacing: .75pt;
      text-transform: uppercase;
      color: $muted-color;
    }

    &_phone {
      font-size: 1.3rem;
      display: inline-block;
      color: #fff;
    }
  }

  //
  // .. Action
  //
  .header-action {
    font-family: $font-opensans;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin-left: 3.5rem;
    vertical-align: top;
    letter-spacing: .75pt;
    text-transform: uppercase;
    color: $muted-color;
    
    &:hover {
      color: $muted-color;  
    }
  }



//****************************************************************************************************
//
// .. MAIN
//
//****************************************************************************************************
.main {
  @include mq(phone) {
    
  }

  @include mq(tablet) {
    
  }

  @include mq(desktop) {
    padding-top: 4rem;
    padding-left: 21rem;
  }
}



//****************************************************************************************************
//
// .. SIDEBAR
//
//****************************************************************************************************
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 21rem;
  text-align: center;
  background-color: #2b2b2b;

  @include mq(phone) {
    display: none;
  }

  @include mq(tablet) {
    display: none;
  }

  @include mq(desktop) {

  }
}

  //
  // .. Logo
  //
  .logo {
    display: block;
    padding: 4rem 0;

    &_img {
      margin-bottom: 1rem;
      vertical-align: top;
    }

    &_tx {
      font-family: $font-opensans;
      font-size: 1rem;
      line-height: 1.2rem;
      color: #4c4c4c;
    }
  }

//
// .. Main navigation
//
.main-nav {
  margin-bottom: 2.5rem;
  
  &_item {
    font-family: $font-opensans;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 6rem;
    display: block;
    letter-spacing: 1pt;
    text-transform: uppercase;
    color: #fefefe;
    border-top: .1rem solid #333;
    
    &:last-child {
      border-bottom: .1rem solid #333;
    }
    
    &:hover {
      color: #fefefe;
    
      &:not(.main-nav_i__current) {
        background-color: #333;
      }
    }
    
    &__current {
      background-color: #212121;
    }
  }
}

//
// .. Sub navigation
//
.sub-nav {
  margin-bottom: 2.5rem;

  &_item {
    font-family: $font-opensans;
    font-size: 1.4rem;
    line-height: 3.8rem;
    display: block;
    color: $voice-color;
    
    &:not(:last-child) {
      margin-bottom: .3rem;
    }
    
    &:hover {
      color: $voice-color;
    
      &:not(.sub-nav_i__current) {
        background-color: #333;
      }
    }

    &__current {
      background-color: #212121;
    }
  }
}

//
// .. Request
//
.request {
  @include prefixes(box-sizing, border-box);
  font-family: $font-opensans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 3.1rem;
  display: inline-block;
  padding: 0 2rem;
  letter-spacing: .75pt;
  text-transform: uppercase;
  color: $voice-color;
  border: .1rem solid #666;
  border-radius: .3rem;
  
  &:hover {
    color: $voice-color;
  }
}



//****************************************************************************************************
//
// .. INDEX PROMO
//
//****************************************************************************************************
.index-promo {
  position: relative;
  height: 54rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &_caption {
    @include prefixes(transform, translateX(-50%));
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    width: 63rem;
    padding: 2.5rem 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
  }

  &_title {
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  &_text {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #ddc9b2;
    font-style: italic;
  }
}



//****************************************************************************************************
//
// .. ITEMS
//
//****************************************************************************************************
//
// .. Items ollection
//
.items {
  > .owl-controls {

    .owl-nav {

      .owl-prev, .owl-next {
        @include prefixes(transform, translateY(-50%));
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        vertical-align: top;
        border-right: 1px solid rgba(255, 255, 255, .2);
        background-color: rgba(0, 0, 0, .6);
      }

      .owl-prev {
        right: 100%;
      }

      .owl-next {
        left: 100%;
      }
    }
  }
}

//
// .. Single item
//
.item {
  &_gallery {
    margin-bottom: 2rem;
    
    > .owl-controls {
      position: absolute;
      right: 0;
      bottom: 0;

      .owl-nav {

        .owl-prev, .owl-next {
          display: inline-block;
          width: 4rem;
          height: 4rem;
          vertical-align: top;
          border-right: 1px solid rgba(255, 255, 255, .2);
          background-color: rgba(0, 0, 0, .6);
        }

        .owl-prev {

        }

        .owl-next {

        }
      }
    }
  }
  
  &_photo {        
    vertical-align: top;
  }

  &_header {
    margin-right: 3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $base-color;
  }

  &_title {
    font-family: $font-playfair;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    line-height: 2.6rem;
    color: $base-color;
    
    &:hover {
      color: $base-color;        
    }
  }

  &_body {
    font-family: $font-opensans;
    margin-right: 3rem;
    padding: 1.5rem 0 1.7rem;
    border-bottom: 1px solid #e8e8e8;
  }

  &_price {   
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: .5rem;
  }

  &_summary {
    font-size: 1.3rem;
    line-height: 2.1rem;
    color: $muted-color;
  }
}



//****************************************************************************************************
//
// .. NEWS
//
//****************************************************************************************************
//
// .. News item
//
.news-item {
  background-color: #fff;
  
  .section__invert & {
    background-color: #f5f4f2;
  }
  
  &_header {
    font-size: 1.6rem;
    line-height: 2rem;
    position: relative;
    padding: 3rem 3rem 1rem;
    
    &::after {
      position: absolute;
      right: 3rem;
      bottom: 0;
      left: 3rem;
      height: 1px;
      content: '';
      background-color: #d9d9d9;
    }
    
    a {
      color: $base-color;
    
      &:hover {
        color: $base-color;
      }
    }
  }

  &_source {
    font-family: $font-opensans;
    font-size: 1.2rem;
    text-align: right;
 
    > a {
      color: $muted-color;
 
      &:hover {
        color: $muted-color;          
      }
 
      > span, > img {
        display: inline-block;
        vertical-align: middle;
      }
 
      > span {
        margin-right: 1rem;
      }
    }
  }

  &_body {
    font-size: 1.4rem;
    font-style: italic;
    line-height: 2rem;
    position: relative;
    padding: 1.5rem 3rem 3.5rem 9.5rem;
  }

  &_author {
    position: absolute;
    top: 2rem;
    left: 3rem;
  }
}

//
// .. News company
//
.news-company {
  padding: 2rem 3rem 3rem;
  background-color: #fff;
  
  &__home {
    padding-bottom: 2.2rem;
  }
  
  .section__invert & {
    background-color: #f5f4f2;
  }

  &_title {
    margin-bottom: 2rem;
    @extend .page-title;
  }

  &_item {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 2rem 0 2.5rem;
    border-bottom: 1px solid #d9d9d9;
  
    &:first-child {
      border-top: 1px solid #d9d9d9;      
    }
  
    .news-company__home & {
      &:last-child {
        border-bottom: none;
      }
    }
  
    .news-company__short & {
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }      
    }
  
    a {
      color: $base-color;
  
      &:hover {
        color: $base-color;
      }
    }
  }
}

//
// .. News navigation
//
.news-nav {
  text-align: center;
  
  &_item {
    display: inline-block;
  }

  &_link {
    font-family: $font-opensans;
    font-size: 1rem;
    font-weight: 600;
    line-height: 3.7rem;
    position: relative;
    display: block;
    padding: 0 2rem;
    letter-spacing: .75pt;
    text-transform: uppercase;
    color: $voice-color;
    border: .1rem solid #d9d9d9;
    background-color: #f5f5f5;
    
    &:last-child {
      margin-left: -.1rem; 
    }
    
    &::after {
      position: absolute;
      top: -1px;
      width: 15px;
      height: 39px;
      content: '';
      background-image: image-url('news-nav.png');
      background-repeat: no-repeat;
    }
  
    &__prev {
      &::after {
        left: -15px;
        background-position: 0 0;
      }
    }

    &__next {
      &::after {
        right: -15px;
        background-position: -15px 0;
      }
    }
  }
}


//****************************************************************************************************
//
// .. EXPERT
//
//****************************************************************************************************
.expert {
  position: relative;

  &_title {
    font-family: $font-opensans;
    font-weight: 600;
    line-height: 3.2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: #bfbfbf;
    text-size: 1.6rem;
  }

  &_photo {
    position: absolute;
    top: 6rem;
    left: 0;
    vertical-align: top;
  }
 
  &_inner {
    padding-left: 13.5rem;
  }

  &_person {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  &_name {
    font-family: $font-opensans;
    font-weight: 700;        
  }

  &_post {
    color: $muted-color;
  }
}



//****************************************************************************************************
//
// .. SERVICES
//
//****************************************************************************************************
.services-item {
  padding: 3.5rem 0;
  font-size: 1.6rem;
  border-top: 1px solid #ddd;
  
  &:last-child {
    border-bottom: 1px solid #ddd;    
  }

  &_header {
    font-family: $font-opensans;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}



//****************************************************************************************************
//
// .. SEARCH
//
//****************************************************************************************************
.search {
  margin-bottom: 3rem;
}

//
// .. Form search
//
.search-form {
  position: relative;
  margin-bottom: 3rem;

  &_input {
    @include prefixes(box-sizing, border-box);
    font-family: $font-opensans;
    font-size: 3rem;
    font-weight: 300;
    line-height: 6rem;
    display: block;
    width: 100%;
    height: 6rem;
    padding: 0 10rem 0 3rem;
    background-color: #f7f7f7;
  }

  &_submit {
    font-size: 2.2rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 7rem;
    cursor: pointer;
    background-image: image-url('search.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

//
// .. Search navigation
//
.search-nav {
  &_item {
    display: inline-block;
    vertical-align: top;
  }

  &_link {
    font-family: $font-opensans;
    font-size: 1.4rem;
    line-height: 4rem;
    display: block;
    height: 4rem;
    padding: 0 1.5rem;
    border-radius: .3rem;
    
    &__current {
      color: #fff;
      background-color: #454545;
      
      &:hover {
        color: #fff;          
      }
    }
    
    &__active {
      color: $voice-color;
      
      &:hover {
        color: $voice-color;          
      }
    }
    
    &__muted {
      color: #bfbfbf;
      
      &:hover {
        color: #bfbfbf;
      }
    }

    &_badge {
      font-family: $font-opensans;
      font-size: 1.2rem;
      line-height: 2.5rem;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1rem;
      text-align: center;
      color: $muted-color;
      border-radius: 50%;
      
      .search-nav_link__current & {
        background-color: #525252;
      }

      .search-nav_link__active & {
        background-color: #f2f2f2;
      }
    }
  }
}

//
// .. Result
//
.search-result {

}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  @include mq(phone) {
    display: none;
  }

  @include mq(tablet) {
    display: none;    
  }

  @include mq(desktop) {
    font-family: $font-opensans;
    overflow: hidden;
    padding-left: 21rem;
  }

  &_inner {
    padding: 1.5rem 0 2.5rem;
    border-top: 1px solid #e8e8e8;
  }

  &_copy {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .75pt;
    text-transform: uppercase;
    color: $voice-color;
  }
 
  &_nav {
    display: inline-block;
    vertical-align: top;
    
  }

  &_item {
    position: relative;
    display: inline-block;
    margin-right: 3rem;
    
    &::after {
      @include prefixes(transform, translateY(-50%));
      position: absolute;
      top: 50%;
      right: -1.5rem;
      width: .1rem;
      height: 1.3rem;
      content: '';
      background-color: #e0e0e0;
    }
  }
  
  &_link {
    vertical-align: top;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .75pt;
    text-transform: uppercase;
  }

  &_phone {
    font-size: 1.3rem;
    display: inline-block;
    margin-right: 3rem;
    vertical-align: top;
    color: $voice-color;
  }
}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
//
// .. Tags
//
.tags {
  font-family: $font-opensans;
  
  @include mq(desktop) {
    text-align: right;

    .tags_item:not(:first-child) {
      margin-left: .3rem;
    }  
  }
  
  @include mq(tablet) {
    text-align: right;
    
    .tags_item:not(:first-child) {
      margin-left: .3rem;
    }  
  }
  
  @include mq(phone) {
    text-align: left;

    .tags_item:not(:last-child) {
      margin-right: .3rem;
    }
  }

  &__search {
    text-align: left;
  }

  &_item {
    font-size: 1.3rem;
    line-height: 2.2rem;
    display: inline-block;
    margin-bottom: .3rem;
    padding: 0 .8rem;
    vertical-align: top;
    color: $voice-color;
    background-color: #f2f2f2;
   
    &:hover {
      color: $voice-color;
    }
    
    .tags__main & {
      border-top: .2rem solid;
    }
    
    .tags__search & {
      font-size: 1.6rem;
      line-height: 3.8rem;
      margin-bottom: 1rem;
      margin-left: 0 !important;
      padding: 0 2rem;
      color: $base-color;
      
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

//
// .. Load more
//
.load-more {
  text-align: center;
 
  &_link {
    @include prefixes(box-sizing, border-box);
    font-family: $font-opensans;
    font-size: 1rem;
    font-weight: 600;
    line-height: 3.7rem;
    display: inline-block;
    height: 3.7rem;
    padding: 0 2.5rem;
    text-align: center;
    letter-spacing: .75pt;
    text-transform: uppercase;
    color: $muted-color;
    border: 1px solid #d9d9d9;
    border-radius: .3rem;
    
    &:hover {
      color: #fff;
      border-color: $link-color;
      background-color: $link-color;
    }
  }
}

//
// .. Page navigation
//
.page-nav {
  margin-bottom: 1rem;
  padding-top: 2rem;
  border-bottom: 1px solid #ddd;

  &_item {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &_link {
    font-family: $font-opensans;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 5.2rem;
    position: relative;
    display: block;
    letter-spacing: .5pt;
    text-transform: uppercase;
    color: $muted-color;
    
    &:hover {
      color: $base-color;
    }
    
    &__current {
      color: $base-color;
    
      &::after {
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
        height: 1px;
        content: '';
        background-color: $base-color;
      }
    }
  }
}

.sub-page-nav {
  &_item {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &_link {
    font-family: $font-opensans;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: .25pt;
    text-transform: uppercase;
    color: $muted-color;
    
    &:hover {
      color: $base-color;
    }

    &__current {
      color: $base-color;
    }
  }
}

//
// .. Post date
//
.post-date {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: .5rem;
  color: $muted-color;
}

//
// .. Source
//
.source {
  font-family: $font-opensans;
  font-size: 1.4rem;
  line-height: 3rem;
  text-align: right;
  color: $voice-color;
  
  > span {
    display: inline-block;
    vertical-align: middle;
  }
  
  > img {
    display: inline-block;
    vertical-align: middle;
  }
}

//
// .. HR
//
.hr {
  height: .1rem;
  width: 100%;
  background-color: #e6e6e6;
}

//
// .. Go to back
//
.go-to-back {
  font-family: $font-opensans;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  letter-spacing: .75pt;
  text-transform: uppercase;
  
  img {
    position: relative;
    top: -.1rem;
    margin-right: 1rem;
  }
}