!!!
%html.no-js{lang: 'ru-RU'}
  %head
    %title Forms / Chemistry Template
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    
    %main#main.main{role: 'main'}
      %section{role: 'region', aria: {label: 'Forms'}}
        .pt-6.pb-6
          .ctn
            %article
              %header.mb-6
                %h1 Forms

              %form.form.js-form{action: '#'}
                
                //
                // .. Buttons
                //
                %fieldset.mb-6
                  %legend.form_legend.mb-3 Buttons

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='button'&gt;, auto width:
                    .form_el.js-form_el.form_btn
                      %p.form_el_inner.form_btn_inner Button
                      %button.form_el_tag.form_btn_tag{type: 'button'}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;input type='button'&gt;,
                      %span.visible-desktop 1/4
                      %span.visible-tablet 1/2
                      %span.visible-phone 1/1
                      width, disabled:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-4.grid_i__tablet-grid-1-2.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_btn
                          %p.form_el_inner.form_btn_inner Button
                          %button.form_el_tag.form_btn_tag{type: 'button', disabled: 'disabled'}
                  
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;button type='button'&gt;,
                      %span.visible-desktop 1/2
                      %span.visible-tablet 3/4
                      %span.visible-phone 1/1
                      width, invalid:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-2.grid_i__tablet-grid-3-4.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_btn
                          %p.form_el_inner.form_btn_inner Button
                          %button.form_el_tag.form_btn_tag{type: 'button', data: {valid: 'false'}}
                  
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;button type='submit'&gt;,
                      %span.visible-desktop 3/4
                      %span.visible-tablet 1/1
                      %span.visible-phone 1/1
                      width, valid:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-3-4.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_btn
                          %p.form_el_inner.form_btn_inner Submit
                          %button.form_el_tag.form_btn_tag{type: 'submit', data: {valid: 'true'}}

                  %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;button type='reset'&gt;, full width:
                  .form_el.js-form_el.form_el__block.form_btn
                    %p.form_el_inner.form_btn_inner Reset
                    %button.form_el_tag.form_btn_tag{type: 'reset'}

                //
                // .. Inputs
                //
                %fieldset.mb-6
                  %legend.form_legend.mb-3 Inputs

                  // .. Button, submit, reset
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='button'&gt;, auto width:
                    .form_el.js-form_el.form_btn
                      %p.form_el_inner.form_btn_inner Button
                      %input.form_el_tag.form_btn_tag{type: 'button', value: ''}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;input type='button'&gt;,
                      %span.visible-desktop 1/4
                      %span.visible-tablet 1/2
                      %span.visible-phone 1/1
                      width, disabled:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-4.grid_i__tablet-grid-1-2.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_btn
                          %p.form_el_inner.form_btn_inner Button
                          %input.form_el_tag.form_btn_tag{type: 'button', value: '', disabled: 'disabled'}
                  
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;input type='button'&gt;,
                      %span.visible-desktop 1/2
                      %span.visible-tablet 3/4
                      %span.visible-phone 1/1
                      width, invalid:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-2.grid_i__tablet-grid-3-4.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_btn
                          %p.form_el_inner.form_btn_inner Button
                          %input.form_el_tag.form_btn_tag{type: 'button', value: '', data: {valid: 'false'}}
                  
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;input type='submit'&gt;,
                      %span.visible-desktop 3/4
                      %span.visible-tablet 1/1
                      %span.visible-phone 1/1
                      width, valid:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-3-4.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_btn
                          %p.form_el_inner.form_btn_inner Submit
                          %input.form_el_tag.form_btn_tag{type: 'submit', value: '', data: {valid: 'true'}}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='reset'&gt;, full width:
                    .form_el.js-form_el.form_el__block.form_btn
                      %p.form_el_inner.form_btn_inner Reset
                      %input.form_el_tag.form_btn_tag{type: 'reset', value: ''}

                  // .. Text, password, email, tel
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='text'&gt;, auto width:
                    .form_el.js-form_el.form_tx
                      %input.form_el_tag.form_tx_tag{type: 'text', placeholder: 'Text'}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;input type='text'&gt;,
                      %span.visible-desktop 1/4
                      %span.visible-tablet 1/2
                      %span.visible-phone 1/1
                      width:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-4.grid_i__tablet-grid-1-2.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_el__block.form_tx
                          %input.form_el_tag.form_tx_tag{type: 'text', placeholder: 'Text'}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;input type='password'&gt;,
                      %span.visible-desktop 1/2
                      %span.visible-tablet 3/4
                      %span.visible-phone 1/1
                      width, disabled:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-2.grid_i__tablet-grid-3-4.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_el__block.form_tx
                          %input.form_el_tag.form_tx_tag{type: 'password', placeholder: 'Password', value: 'password', disabled: 'disabled'}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;input type='email'&gt;,
                      %span.visible-desktop 3/4
                      %span.visible-tablet 1/1
                      %span.visible-phone 1/1
                      width, invalid:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-3-4.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_el__block.form_tx
                          %input.form_el_tag.form_tx_tag{type: 'email', placeholder: 'Email', value: 'email', data: {valid: 'false'}}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='tel'&gt;, full width, valid:
                    .form_el.js-form_el.form_el__block.form_tx
                      %input.form_el_tag.form_tx_tag{type: 'tel', placeholder: 'Tel', value: '1234567890', data: {valid: 'true'}}
                  
                  // .. Checkbox
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='checkbox'&gt;:
                    .form_el.js-form_el.form_checkbox
                      %input.form_el_tag.form_checkbox_tag{type: 'checkbox', checked: 'checked'}
                    .form_el.js-form_el.form_checkbox
                      %input.form_el_tag.form_checkbox_tag{type: 'checkbox', disabled: 'disabled'}
                    .form_el.js-form_el.form_checkbox
                      %input.form_el_tag.form_checkbox_tag{type: 'checkbox', data: {valid: 'false'}}
                    .form_el.js-form_el.form_checkbox
                      %input.form_el_tag.form_checkbox_tag{type: 'checkbox', data: {valid: 'true'}}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='checkbox'&gt; inside &lt;label&gt;:
                    %label.form_el.form_label.form_label__el
                      .form_el.js-form_el.form_checkbox
                        %input.form_el_tag.form_checkbox_tag{type: 'checkbox'}
                      %p.form_el_inner.form_label_inner Checkbox

                  // .. Radio
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='radio'&gt;:
                    .form_el.js-form_el.form_radio
                      %input.form_el_tag.form_radio_tag{type: 'radio', name: 'radio', checked: 'checked'}
                    .form_el.js-form_el.form_radio
                      %input.form_el_tag.form_radio_tag{type: 'radio', name: 'radio', disabled: 'disabled'}
                    .form_el.js-form_el.form_radio
                      %input.form_el_tag.form_radio_tag{type: 'radio', name: 'radio', data: {valid: 'false'}}
                    .form_el.js-form_el.form_radio
                      %input.form_el_tag.form_radio_tag{type: 'radio', name: 'radio', data: {valid: 'true'}}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='radio'&gt; inside &lt;label&gt;:
                    %label.form_el.form_label.form_label__el
                      .form_el.js-form_el.form_radio
                        %input.form_el_tag.form_radio_tag{type: 'radio'}
                      %p.form_el_inner.form_label_inner Radio

                  // .. File
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='file'&gt;, auto width:
                    .form_el.js-form_el.form_file{data: {placeholder: 'Выберите файл...'}}
                      %p.form_el_inner.js-form_el_inner.form_file_inner
                      %input.form_el_tag.form_file_tag{type: 'file'}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;input type='file'&gt;,
                      %span.visible-desktop 1/4
                      %span.visible-tablet 1/2
                      %span.visible-phone 1/1
                      width, disabled:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-4.grid_i__tablet-grid-1-2.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_file{data: {placeholder: 'Выберите файл...'}}
                          %p.form_el_inner.js-form_el_inner.form_file_inner
                          %input.form_el_tag.form_file_tag{type: 'file', disabled: 'disabled'}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;input type='file'&gt;,
                      %span.visible-desktop 1/2
                      %span.visible-tablet 3/4
                      %span.visible-phone 1/1
                      width, invalid:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-2.grid_i__tablet-grid-3-4.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_file{data: {placeholder: 'Выберите файл...'}}
                          %p.form_el_inner.js-form_el_inner.form_file_inner
                          %input.form_el_tag.form_file_tag{type: 'file', data: {valid: 'false'}}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;input type='file'&gt;,
                      %span.visible-desktop 3/4
                      %span.visible-tablet 1/1
                      %span.visible-phone 1/1
                      width, valid:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-3-4.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_file{data: {placeholder: 'Выберите файл...'}}
                          %p.form_el_inner.js-form_el_inner.form_file_inner
                          %input.form_el_tag.form_file_tag{type: 'file', data: {valid: 'true'}}

                  %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;input type='file'&gt;, full width:
                  .form_el.js-form_el.form_el__block.form_file{data: {placeholder: 'Выберите файл...'}}
                    %p.form_el_inner.js-form_el_inner.form_file_inner
                    %input.form_el_tag.form_file_tag{type: 'file'}

                //
                // .. Selects
                //
                %fieldset.mb-6
                  %legend.form_legend.mb-3 Selects
                  
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;select/&gt;, auto width:
                    .form_el.js-form_el.form_select
                      %p.form_el_inner.js-form_el_inner.form_select_inner
                      %select.form_el_tag.form_select_tag
                        %option{selected: 'selected'} Select
                        %option 1
                        %option 2

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;select/&gt;,
                      %span.visible-desktop 1/4
                      %span.visible-tablet 1/2
                      %span.visible-phone 1/1
                      width, disabled:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-4.grid_i__tablet-grid-1-2.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_select
                          %p.form_el_inner.js-form_el_inner.form_select_inner
                          %select.form_el_tag.form_select_tag{disabled: 'disabled'}
                            %option{selected: 'selected'} Select
                            %option 1
                            %option 2

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;select/&gt;,
                      %span.visible-desktop 1/2
                      %span.visible-tablet 3/4
                      %span.visible-phone 1/1
                      width, invalid:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-2.grid_i__tablet-grid-3-4.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_select
                          %p.form_el_inner.js-form_el_inner.form_select_inner
                          %select.form_el_tag.form_select_tag{data: {valid: 'false'}}
                            %option{selected: 'selected'} Select
                            %option 1
                            %option 2

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;select/&gt;, 
                      %span.visible-desktop 3/4
                      %span.visible-tablet 1/1
                      %span.visible-phone 1/1
                      width, valid:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-3-4.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_select
                          %p.form_el_inner.js-form_el_inner.form_select_inner
                          %select.form_el_tag.form_select_tag{data: {valid: 'true'}}
                            %option{selected: 'selected'} Select
                            %option 1
                            %option 2

                  %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;select/&gt;, full width:
                  .form_el.js-form_el.form_el__block.form_select
                    %p.form_el_inner.js-form_el_inner.form_select_inner
                    %select.form_el_tag.form_select_tag
                      %option{selected: 'selected'} Select
                      %option 1
                      %option 2

                //
                // .. Textareas
                //
                %fieldset
                  %legend.form_legend.mb-3 Textareas
                  
                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;textarea/&gt;, auto width:
                    .form_el.js-form_el.form_textarea
                      %textarea.form_el_tag.form_textarea_tag{placeholder: 'textarea'}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;textarea/&gt;,
                      %span.visible-desktop 1/4
                      %span.visible-tablet 1/2
                      %span.visible-phone 1/1
                      width:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-4.grid_i__tablet-grid-1-2.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_textarea
                          %textarea.form_el_tag.form_textarea_tag{placeholder: 'textarea'}

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;textarea/&gt;,
                      %span.visible-desktop 1/2
                      %span.visible-tablet 3/4
                      %span.visible-phone 1/1
                      width, disabled:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-1-2.grid_i__tablet-grid-3-4.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_textarea
                          %textarea.form_el_tag.form_textarea_tag{placeholder: 'textarea', disabled: 'disabled'} Textarea

                  .mb-3
                    %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s
                      &lt;textarea/&gt;,
                      %span.visible-desktop 3/4
                      %span.visible-tablet 1/1
                      %span.visible-phone 1/1
                      width, invalid:
                    .grid.grid__collapse
                      .grid_i.grid_i__desktop-grid-3-4.grid_i__tablet-grid-1-1.grid_i__phone-grid-1-1
                        .form_el.js-form_el.form_textarea
                          %textarea.form_el_tag.form_textarea_tag{placeholder: 'textarea', data: {valid: 'false'}} Textarea

                  %label.form_el.form_el__block.form_label.mb-1.tx-muted.tx-s &lt;textarea/&gt;, full width, valid:
                  .form_el.js-form_el.form_el__block.form_textarea
                    %textarea.form_el_tag.form_textarea_tag{placeholder: 'textarea', data: {valid: 'true'}} Textarea

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render