!!!
%html.no-js{lang: 'ru-RU'}
  %head
    %title Links / Chemistry Template
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    
    %main#main.main{role: 'main'}
      %section{role: 'region', aria: {label: 'Links'}}
        .pt-6.pb-6
          .ctn
            %article
              %header.mb-6
                %h1 Links

              .grid
                .grid_i.grid_i__desktop-grid-1-3.grid_i__tablet-grid-1-2.grid_i__phone-grid-1-1>
                  %h4.mb-3 Links
                  .mb-3
                    %a{href: '#'} Link

                  .mb-3
                    %a.a-link{href: '#'}
                      %span.a-link_inner Link
                      partial
                      %span.a-link_inner underline

                  .mb-3
                    %a.a-link{href: '#'}
                      %i.a-link_ico.fa.fa-flask
                      %span.a-link_inner Link with icon

                  %a.a-link{href: '#'}
                    %i.a-link_ico.fa.fa-flask
                    %span.a-link_inner Link
                    partial
                    %span.a-link_inner underline
                    with icon

                .grid_i.grid_i__desktop-grid-1-3.grid_i__tablet-grid-1-2.grid_i__phone-grid-1-1>
                  %h4.mb-3 Pseudo

                  .mb-3
                    %a.a-pseudo{href: '#'}
                      %span.a-pseudo_inner Pseudo

                  .mb-3
                    %a.a-pseudo{href: '#'}
                      %span.a-pseudo_inner Pseudo
                      partial
                      %span.a-pseudo_inner underline

                  .mb-3
                    %a.a-pseudo{href: '#'}
                      %i.a-pseudo_ico.fa.fa-flask
                      %span.a-pseudo_inner Pseudo with icon

                  %a.a-pseudo{href: '#'}
                    %i.a-pseudo_ico.fa.fa-flask
                    %span.a-pseudo_inner Pseudo
                    partial
                    %span.a-pseudo_inner underline
                    with icon
                
                .grid_i.grid_i__desktop-grid-1-3.grid_i__tablet-grid-1-2.grid_i__phone-grid-1-1>
                  %h4.mb-3 Titles

                  .mb-2
                    %h2
                      %a{href: '#'} Link H2

                  .mb-2
                    %h3
                      %a{href: '#'} Link H3
                  
                  .mb-2
                    %h4
                      %a{href: '#'} Link H4

                  %h5
                    %a{href: '#'}
                      %i.fa.fa-flask
                      Link H5 with icon

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render